<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title%>
    </title>
    <%- include ("partials/head")%>
</head>

<body data-bs-theme="dark">
    <%- include ("partials/navigation")%>
        <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
            <section>
                <h1 class="display-1">Acerca de nosotros</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae quaerat sapiente vitae corrupti
                    aspernatur, et autem modi, amet voluptatum neque illo eaque reprehenderit, eius magni! Amet, ipsa
                    quaerat quasi, iure non molestias reiciendis accusantium commodi sint architecto qui illo nulla
                    minus debitis corporis expedita possimus a officia, doloribus vero aliquam mollitia? Iusto harum
                    numquam, nihil vitae quos repudiandae expedita aspernatur, aliquid sint assumenda, dolorum quidem
                    totam esse amet excepturi vero corrupti? Cum maiores suscipit porro perspiciatis dolorum nesciunt
                    natus minus! Dolor ut laudantium doloribus blanditiis libero, veritatis autem quas magni velit
                    soluta reprehenderit labore eum commodi, ullam voluptate alias saepe excepturi illum reiciendis
                    deserunt. Ut facere culpa distinctio consectetur magni voluptas eos ipsa illo iusto delectus, non
                    nesciunt officia laborum accusamus! Adipisci vitae reiciendis molestias cupiditate tempora animi
                    unde veritatis eum, illum doloremque repudiandae quod quos, nobis voluptas, esse consectetur
                    exercitationem sapiente minima rem? Vero nesciunt cum quo eligendi officia?</p>
            </section>
        </main>

        <%- include ("partials/footer")%>

</body>

</html>